# Compiled class files
*.class

# Bin folder
project/bin/

# IDE files
.vscode/settings.json
*.argfile
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Temp files
*.tmp
*.log

# Data files generated at runtime
flights.txt
passengers.txt
pilots.txt
copilots.txt
employees.txt
flights-log.txt
report_*.txt
